body {
    background-image: url("memphis-colorful.png");
  }

img {
  width: 110px;
  height: 110px;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 2em;
  width: 300px;
  border: solid 2px #1a252f
}

#projectsPage {
  display: flex;
  flex-flow: row wrap;
  align-items: space-around;
}
  